<%- include("header") -%>

<% if(listTitle==="General List"){ %>
<div class="box" id="heading" onclick="location.href='/work';"
  style="cursor: pointer;">
  <h1> <%= listTitle %> </h1>
</div>
<% }else{ %>
<div class="box" id="heading" onclick="location.href='/';"
  style="cursor: pointer;">
  <h1> <%= listTitle %> </h1>
</div>
<% } %>

<div class="box">
  <% newListItems.forEach(function(item) { %>
  <div class="item">
    <input type="checkbox">
    <p><%= item.name %></p>
    <p class="item-date"><%= item.date %></p>
  </div>
  <% }) %>

  <form class="item newItem" method="post">
    <div class="form">
      <input type="text" name="newItem" placeholder="New Item"
        autocomplete="off" required>
      <button type="submit">+</button>
    </div>
  </form>

</div>

<%- include("footer") -%>
